[user]
	name = Rich Lafferty
	email = rlafferty@pagerduty.com
	signingkey = 731B12D443D0ECBE80E3073894DE1A8FC3B80CB6
[push]
	default = current
[color]
    ui = true
[alias]
    lg = log --color --graph --pretty=format:'%Cgreen%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    recent = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    pr = pull-request
    pro = pull-request -o
    co = checkout
    fa = fetch --all
    rb = rebase
    ff = merge --ff-only
	conflicts = diff --name-only --diff-filter=U
    fpush = push --force-with-lease
    amend = commit --amend --no-edit
    tidy = rebase -i master
    empty-commit = commit --allow-empty -m \"empty commit\"
    unstage = reset -q HEAD --
    discard = checkout --
    remotes = remote -v
[core]
	excludesfile = ~/.gitignore_global
    pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[delta]
    # all of these cyans are blue by default which is very dark. 
    file-style = cyan
    file-decoration-style = cyan ul
    hunk-header-decoration-style = cyan box
    line-numbers = true
    syntax-theme = Monokai Extended Bright
    minus-style = syntax auto
    plus-style = syntax auto
[interactive]
    diffFilter = delta --color-only
[commit]
	gpgsign = true
[blame]
	coloring = highlightRecent
[color "blame"]
	highlightRecent = 031,12 month ago,white,1 month ago,220,1 week ago,197
[init]
	defaultBranch = main
[rebase]
	autoStash = true
