[user]
	name = Rich Lafferty
	email = rich@lafferty.ca
	signingkey = 731B12D443D0ECBE80E3073894DE1A8FC3B80CB6
[push]
	default = current
[color]
    ui = true
[alias]
    # lg = log --color --graph --pretty=format:'%Cgreen%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    # https://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
    # lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all 
    # https://news.ycombinator.com/item?id=39408768
    lg = "!. ~/.githelpers && pretty_git_log"
    branches = "for-each-ref --sort=-committerdate refs/heads --format='%(authordate:short) %(color:yellow)%(objectname:short) %(color:green)%(refname:short)%(color:reset) (%(color:cyan)%(committerdate:relative)%(color:reset)) %(authorname)'"
    branches-remote = "for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(authordate:short) %(color:yellow)%(objectname:short) %(color:green)%(refname:short)%(color:reset) (%(color:cyan)%(committerdate:relative)%(color:reset)) %(authorname)'"
    recent = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    pr = pull-request
    pro = pull-request -o
    co = checkout
    fa = fetch --all
    rb = rebase
    ff = merge --ff-only
	conflicts = diff --name-only --diff-filter=U
    fpush = push --force-with-lease
    amend = commit --amend --no-edit
    tidy = rebase -i master
    empty-commit = commit --allow-empty -m \"empty commit\"
    unstage = reset -q HEAD --
    discard = checkout --
    remotes = remote -v
	sw = switch
	re = restore
    # Taken from here: https://aaronbonner.io/post/80766268890/git-alias-to-simplify-setting-upstream-branch
    set-upstream = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
    fixup = commit --fixup
    alias = "!git config --get-regexp ^alias. | sed 's/^alias.//'" 
[core]
	excludesfile = ~/.gitignore_global
    pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[url "git@github.com:"]
	insteadOf = https://github.com/
    insteadOf = "gh:"
[url "git@github.com:PagerDuty/"]
    insteadOf = "pd:"
[pull]
	rebase = true
	ff = only
[delta]
    # all of these cyans are blue by default which is very dark. 
    file-style = cyan
    file-decoration-style = cyan ul
    hunk-header-decoration-style = cyan box
    line-numbers = true
    syntax-theme = Monokai Extended Bright
    minus-style = syntax auto
    plus-style = syntax auto
[interactive]
    diffFilter = delta --color-only
[commit]
	gpgsign = true
	verbose = true
[blame]
	coloring = highlightRecent
[color "blame"]
	highlightRecent = 031,12 month ago,white,1 month ago,220,1 week ago,197
[init]
	defaultBranch = main
[rebase]
	autoStash = true
	autosquash = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[help]
	autocorrect = 20
[diff]
	algorithm = histogram
[log]
	date = iso
[fetch]
	prune = true
