[user]
	name = Rich Lafferty
	email = rlafferty@pagerduty.com
[push]
	default = current
[color]
    ui = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    pr = pull-request
    pro = pull-request -o
    co = checkout
    fa = fetch --all
    rb = rebase
    ff = merge --ff-only
	conflicts = diff --name-only --diff-filter=U
[core]
	excludesfile = /Users/rich/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[url "git@github.com:"]
	insteadOf = https://github.com/
